<%= render "conversations/conversation" %>
<h2>Add New Message</h2>
<%= form_tag("/conversations/#{@conversation.id}/messages", method: :post) do %>
  <%= label_tag :text %>
  <%= text_field_tag :text %>
  <%= button_tag 'Add Message' %>
<% end %>
