<!DOCTYPE html>
<html>
  <head>
    <title>Remesh</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "nav">
      <%= link_to "All Conversations", "/"%>
    </div>

    <% flash.each do |type, message| %>
      <div class= "<%=type%>-flash">
        <p><%= message %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
